# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Android related
android/.gradle/
android/local.properties
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS/XCode related
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/ServiceDefinitions.json

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
